
<div class="toast-container">

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast show"  role="alert" aria-live="assertive" aria-atomic="true" *ngFor="let item of messageList">
    <div class="toast-header" [ngClass]="item.type">
      <!-- <img src="..." class="rounded me-2" alt="..."> -->
      <strong class="me-auto">{{item.titulo}}</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{item.mensaje}}.
    </div>
  </div>
</div>

</div>
